$color-bg: #f8f9fa;
$font-main: "Montserrat", sans-serif;
$font-second: "Roboto", sans-serif;
$btn-color: rgba(255, 78, 80, 1);
$text-color: #FFFFFF;
$text2-color: #333333;
$text3-color: #666666;
$title-size: 22px;
$text-size: 14px;
$main-size: 20px;
$big-size: 52px;
$normal-size: 24px;